@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Light"),
        url("../fonts/OpenSansLight.woff2")format("woff2"),
        url("../fonts/OpenSansLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Regular"),
        url("../fonts/OpenSansRegular.woff2")format("woff2"),
        url("../fonts/OpenSansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-SemiBold"),
        url("../fonts/OpenSansSemiBold.woff2")format("woff2"),
        url("../fonts/OpenSansSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

::selection {
    background: #14b8b8;
    color: #960e78;
}

body {
    min-width: 120px;
    font-family: "OpenSans", "sans-serif";
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.header-container {
    align-items: center;
}

::before,
::after {
    box-sizing: inherit;
}


a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger {
    position: relative;
    display: block;
    border: 1px solid currentColor;
    border-radius: 3px;
    margin-left: 7px;
    margin-right: 2px;
    margin-top: -4px;
    width: 40px;
    height: 40px;
    color: #3172B9;
}

.burger-line {
    background-color: currentColor;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.burger-line:nth-child(1) {
    top: 12px;
}

.burger-line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
}

.burger-line:nth-child(3) {
    bottom: 12px;
}

.container {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 320px;
}

.not {
    list-style-type: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-link {
    font-weight: 600;
    color: #1c1c1c;
    font-size: 15px;
    position: relative;
}

.header-link:focus {
    outline: 1px solid #71A7E2;
    outline-offset: 2px;
}

.header-link:hover {
    color: #71A7E2;
}

.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #3474BA;
    opacity: 0;
}

.header-link:active {
    color: #3172B9;
    outline: none;
}

.header-link:active::after {
    opacity: 1;
}


.btn {
    height: 60px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 35px;
    background-color: #3172B9;
    color: #fff;
    position: relative;
    outline: none;
    margin-top: -7px;
    margin-left: -50px;
}


.btn::after {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-radius: inherit;
    border: 1px solid #71A7E2;
    outline: none;
    opacity: 0;
}

.btn:focus::after {
    opacity: 2;
}

.btn:hover {
    background-color: #71A7E2;
}

.btn:active {
    background-color: #0E3B6C;
}

.btn:active::after {
    opacity: 0;
}

.hero {
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(../img/first-bg.jpg);
    background-repeat: no-repeat;
}

.hero-content {
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 0;
    margin-bottom: 25px;
    max-width: 290px;
    max-height: 208;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin-top: -4px;
    margin-left: -1px;
}

.hero-descr {
    margin: 0;
    margin-bottom: 34px;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    color: #787878;
    margin-top: -10px;
    margin-left: -1px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-d {
    padding-top: 12px;
    padding-left: 20px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 15px;
    width: 120px;
    height: 40px;
    margin-top: -4px;
    margin-left: 41px;
}

.btn-b {
    border-radius: 3px;
    white-space: nowrap;
    font-size: 15px;
    width: 290px;
    height: 58px;
}

.hero-btn {
    min-width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
    margin-top: -20px;
    margin-left: -1px;
}

.header-list-item:not(:last-child) {
    margin-right: 52px;
}

.hero-secure {
    font-size: 11px;
    line-height: 155%;
    color: #787878;
    text-transform: uppercase;
    background-image: url('../img/Vector2.3.svg');
    background-position: left center;
    background-size: 14px 17px;
    background-repeat: no-repeat;
    padding-left: 28px;
}

.header {
    border-bottom: 1px solid #C4C4C4;
    background-color: #fff;
    padding: 15px 0;
}

.services {
    border-bottom: 1px solid #DADADA;
}

.header-nav {
    display: none;
}

.header-logo {
    margin-right: auto;
    max-width: 80px;
}

.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: none;
}

.section-offset {
    padding-top: 17px;
    padding-bottom: 55px;
}

.services-title {
    text-align: center;
}

.section-title {
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    color: #1C1C1C;
    margin-top: 14px;
    text-align: justify;
}

.section-title-articles {
    font-weight: 300;
    font-size: 36px;
    line-height: 0px;
    color: #1C1C1C;
    margin-left: -1px;
    margin-top: 74px;
}

.services-descr {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #787878;
    margin-top: -15px;
    margin-left: 1px;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 20px;
    margin-top: -38px;
}

.services-item {
    flex-direction: column;
    align-items: center;
    border: 1px solid #E4E4E4;
    width: 137px;
    height: 222px;
    padding: 15px 15px 0;
}

.services-item:hover {
    border-color: #3172B9;
    background-color: #3172B9;
}

.services-item:hover .services-item-icon {
    fill: #FFFFFF;
}

.services-item-desc {
    margin: 0;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    color: #787878;
    margin-top: 2px;
}

.services-item:hover .services-item-desc {
    color: #fff;
}

.services-item-icon {
    fill: #3172B9;
    height: 42px;
    margin-bottom: 15px;
}

.services-item-title {
    margin: 0;
    text-align: center;
    line-height: 22px;
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: 2px;
    margin-left: -5px;
}

.services-item:hover .services-item-title {
    color: #fff;
}

.articles-item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.articles {
    border-bottom: 1px solid #DADADA;
}

.articles-list {
    flex-wrap: wrap;
}

.blog-preview-image {
    object-fit: cover;
}

.blog-preview-image {
    flex-shrink: 0;
    width: 86px;
    height: 191px;
}

.blog-preview-link {
    display: flex;
    position: relative;
    width: 290px;
    min-height: 191px;
}

.blog-preview-link:focus {
    background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-title {
    color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
    color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
    color: #fff;
}

.blog-preview-link:hover {
    background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-title {
    color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
    color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
    color: #fff;
}

.blog-preview-link:active {
    background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-title {
    color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
    color: #fff;
}

.blog-preview-link:active .blog-preview-time {
    color: #fff;
}

.blog-preview-link:active .blog-preview-time-2 {
    color: #fff;
}

.blog-preview-text {
    padding: 15px 15px;

}

.blog-preview-time {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: #787878;
    margin-bottom: 3px;
    padding-top: 16px;
}

.blog-preview-time-2 {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: #787878;
    margin-bottom: 3px;
    padding-top: 3px;
}

.blog-preview-title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: #1C1C1C;
    margin-bottom: 3px;
}

.blog-preview-descr {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: #787878;
    max-width: 210%;
}

.articles-item {
    width: 570px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 8px;
    margin-left: -2px;
}

.clients {
    border-bottom: 1px solid #DADADA;
}

.section-title-clients {
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    color: #1C1C1C;
    margin-top: 41px;
    text-align: justify;
}

.clients-list {
    flex-wrap: wrap;
}

.clients-item-descr {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.clients-user {
    margin-top: 0px;
    align-items: center;
    border-top: 1px solid #E4E4E4;
}

.clients-avatar {
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
    padding-top: 14px;
}

.clients-avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.avatar {
    margin-top: 15px;
}

.clients-name {
    padding-top: 22px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #1C1C1C;
}

.clients-post {
    font-size: 14px;
    line-height: 20px;
    color: #787878;
}

.clients-item {
    height: 345px;
    flex-direction: column;
    width: 290px;
    padding: 20px;
    padding-left: 18px;
    padding-bottom: 16px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-bottom: 28px;
    margin-top: -13px;
}

/* .section-title {
    margin-bottom: 15px;
} */

.clients-item:not(:nth-child(3n)) {
    margin-right: 0px;
}

.contacts {
    border-bottom: 1px solid #DADADA;
}

.section-title-contacts {
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    color: #1C1C1C;
    margin-top: 19px;
    text-align: justify;
}

.contacts-item {
    flex-direction: column;
    width: 370px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 29px 29px;
    padding-top: 48px;
}

.contacts-list {
    flex-wrap: wrap;
}

.contacts-item-address {
    margin-top: -13px;
    margin-left: 6px;
    background-size: 17px 24px;
    background-image: url('../img/Vector\ 4.svg');
}

.contacts-address {
    font-style: normal;
}

.contacts-item-call {
    margin-top: -11px;
    margin-left: 2px;
    background-size: 24px 23px;
    background-image: url('../img/Vector\ \(6\).svg');
}

.cotacts-item-link {
    font-size: 14px;
    margin-left: -2px;
    margin-top: -6px;
    line-height: 31px;
    color: #787878;
}

.contacts-item-emaill {
    margin-top: -1px;
    margin-left: 0px;
    background-size: 29px 21px;
    background-image: url('../img/Vector\ \(5\).svg');
}

.contacts-item-text {
    width: 214px;
    margin-left: -6px;
    margin-top: -5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #787878;
}

.contacts-item-visit-us {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #1C1C1C;
    margin-top: -10px;
    margin-left: -6px;
}

.contacts-item-call-us {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #1C1C1C;
    margin-top: -11px;
    margin-left: -2px;
}

.contacts-item-email-us {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #1C1C1C;
    margin-top: -12px;
    margin-left: 0px;
}

.contacts-item {
    margin-bottom: 30px;
}

.cotacts-item-link:not(:last-child) {
    margin-bottom: 0px;
}

.join-us-title {
    text-align: left;
    padding-left: 0px;
}

.join-us-descr {
    line-height: 22px;
    margin-top: -15px;
    padding-left: 1px;
    text-align: left;
    margin-bottom: 15px;
    color: #787878;
}

.form-textarea {
    margin-top: 15px;
    width: 290px;
    height: 240px;
}

.form {
    padding-left: 5px;
    padding-right: 0;
}

.form-bottom {
    display: flex;
    justify-content: flex-end;
}

.form-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.from-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-textarea {
    border: 1px solid #DADADA;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 28px 95px;
    resize: none;
    padding-top: 16px;
    padding-left: 19px;
    margin-left: -6px;
}

.form-left {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
}

.from-right {
    width: 48%;
}

.form-btn {
    border-radius: 50px;
    margin-bottom: 9px;
    min-width: 288px;
}

.form-check {
    padding-top: 7px;
    font-size: 12px;
    padding-left: 1px;
    margin-right: 47px;
}

.form-select {
    border: 1px solid #DADADA;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 16px 28px;
    min-width: 290px;
    height: 60px;
    color: #787878;
    padding-left: 16px;
    margin-top: 3px;
    margin-left: -7px;
}

.form-top {
    flex-direction: column;
}

.form-imput {
    border: 1px solid #DADADA;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 16px 28px;
    min-width: 290px;
    height: 60px;
    margin-left: -6px;
    padding-left: 20px;
}

.footer {
    height: 1px;
    border-bottom: 1px solid #DADADA;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    font-weight: 600;
    line-height: 21px;
    color: #787878;
}

.footer-list {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 0px;
    column-gap: 30px;
    row-gap: 14px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.footer-item:not(:last-child) {
    margin-right: 1px;
}

.social-link {
    display: block;
    margin-bottom: 32px;
    margin-top: 26px;
    margin-left: 4px;
    width: 17px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-item {
    margin-right: 30px;
}

.social-link-x {
    background-size: 17px 14px;
    background-image: url("../img/Vector\ \(7\).svg");
}


.social-link-likendin {
    background-size: 17px 16px;
    background-image: url("../img/Vector\ \(8\).svg");
}

.social-link-mail {
    background-size: 26px 18px;
    background-image: url("../img/Vector\ \(5\).svg");
}

.btn-reset:focus {
    outline: 3px #1c1c1c;
}

.logo-end {
    width: 80px;
    height: 30px;
}

.footer-left, .footer-right {
    margin-right: 105px;
    margin-left: 0px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: left
}

.footer-copy {
    padding-right: 4px;
    font-size: 12px;
    line-height: 17px;
    padding-top: 15px;
    margin-left: 0px;
    color: #787878;
}

.footer-f {
    margin-top: 7px;
    width: 320px;
    border-top: 1px solid #DADADA;

}

.footer-container {
    flex-direction: column;
}

.social {
    margin-top: 5px;
    margin-right: 146px;
}

@media(min-width: 576px) {
    .container {
        max-width: 530px;
    }

    .services-items {
        justify-content: center;
    }

    .services-item {
        width: 220px;
    }

    .services-items {
        column-gap: 35px;
        row-gap: 35px;
    }

    .blog-preview-link {
        width: 100%;
    }

    .blog-preview-text {
        padding: 30px;
    }

    .articles-item:not(:nth-child(2n)) {
        margin-right: 0px;
    }

    .blog-preview-image {
        width: 170px;
        height: 191px;
    }

    .clients-item {
        width: 500px;
    }

    .contacts-list {
        flex-wrap: nowrap;
    }

    /* .section-title {
        margin-bottom: 20px;
    } */

    .contacts-item {
        margin-bottom: 0px;
    }

    .contacts-item:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    .contacts-item-text {
        margin: -3px;
        font-size: 14px;
        line-height: 17px;
    }

    .form-textarea {
        width: 263px;
        height: 258px;
    }

    .form-top {
        flex-direction: row;
    }

    .form-imput {
        min-width: 240px;
        height: 55px;
    }

    .form-select {
        min-width: 240px;
        height: 55px;
    }

    .form-textarea {
        margin-top: 0;
    }

    .form-bottom {
        margin-left: 285px;
        justify-content: center;
    }

    .from-wrapper {
        margin-right: 11px;
    }

    .form-btn {
        min-width: 270px;
    }

    .footer-link {
        font-size: 14px;

    }

    .footer-list {
        margin-left: auto;
        column-gap: 50px;

    }

    .social {
        margin-right: auto;
    }

    .social-link {
        width: 20px;
        height: 17px;
    }

    .social-item:not(:last-child) {
        margin-right: 25px;
    }

    .logo-end {
        width: 106px;
        height: 42px;
    }

    .footer-left, .footer-right {
        margin-left: auto;
        padding-right: 192px;
        margin-right: 0px;
    }

    .footer-copy {
        margin-left: -16px;
        font-size: 14px;
    }

    .footer-f {
        width: 576px;
    }


}

@media(min-width: 768px) {
    .burger {
        display: none;
    }


    .container {
        max-width: 730px;
    }

    .services-item {
        width: 155px;
    }

    .hero-content {
        max-width: 75%;
    }

    .header-nav {
        display: block;
    }

    .header-list-item:not(:last-child) {
        margin-right: 20px;
    }

    .header-nav {
        margin-right: 30px;
    }

    .services-items {
        column-gap: 20px;
        row-gap: 35px;
    }

    .clients-item {
        width: 700px;
    }

    .contacts-item-text {
        margin: 0;
        max-width: 240px;
        font-size: 14px;
        line-height: 25px;
    }

    .cotacts-item-link:not(:last-child) {
        margin-bottom: 5px;
    }

    .form-select {
        min-width: 340px;
        height: 60px;
    }

    .form-imput {
        min-width: 340px;
        height: 60px;
    }

    .form-btn {
        min-width: 280px;
        min-height: 60px;
    }

    .form-textarea {
        margin-top: 0px;
        width: 355px;
        height: 279px;
    }

    .form-bottom {
        margin-left: 380px;
    }

    .footer-list {
        margin-right: auto;
        column-gap: 80px;
    }

    .footer-left, .footer-right {
        margin-left: auto;
        padding-right: 275px;
    }

    .social {
        margin-left: auto;
        padding-right: 464px;
    }

    .social-link {
        width: 20px;
        height: 20px;
    }

    .footer-f {
        width: 768px;
    }

    .footer-copy {
        margin-left: 20px;
    }
}


@media(min-width: 1024px) {
    .container {
        max-width: 990px;
    }

    .hero {
        background-image: url('../img/first-bg.jpg');
    }

    .header-logo {
        max-width: none;
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .services-item-title {
        line-height: 26px;
        font-size: 19px;
    }

    .services-item-desc {
        line-height: 21px;
        font-size: 14px;
    }

    .services-item-icon {
        margin-top: -6px;
        height: 68px;
        margin-bottom: 22px;
    }

    .services-item {
        padding: 60px 30px;
        height: 320px;
        width: 257px;
    }

    .articles-item {
        width: 545px;
        height: 180px;
    }

    .blog-preview-image {
        width: 170px;
        height: 180px;
    }

    .blog-preview-link {
        min-height: 63px;
        min-width: 210px;
    }

    .blog-preview-text {
        padding: 23px 160px 10pxpx 30px;
    }

    .blog-preview-title {
        font-size: 19px;
    }

    .articles-list {
        justify-content: center;
    }

    /* .section-title {
        margin-bottom: 42px;
    } */

    .articles-item:not(:nth-child(2n)) {
        margin-right: 10px;
    }

    .articles-title {
        margin-left: 25px;
    }

    .clients-title {
        padding-top: 8px;
        padding-left: 6px;
    }

    .section-offset {
        padding-top: 79px;
        padding-bottom: 160px;
    }

    /* .section-title {
        padding-top: 87px;
    } */

    .clients-list {
        flex-wrap: nowrap;
    }

    .clients-item {
        width: 370px;
    }

    .clients-item:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    .contacts-item:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    .form-textarea {
        width: 597px;
        height: 279px;
    }

    .from-right {
        width: 61%;
    }

    /* .form-left {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 12px;
    } */

    .form-bottom {
        margin-left: 656px;
    }

    .footer-container {
        padding-top: 40px;
        /* flex-direction: row; */
    }

    .footer-left, .footer-right {
        margin-left: auto;
        margin-bottom: -28px;
        padding-right: 420px;
    }

    .footer-copy {
        padding-top: 0%;
        margin-left: auto;
        padding-right: 595px;
    }

    .social {
        margin-bottom: -61px;
        margin-right: auto;
        padding-left: 844px;
        padding-right: 0%;
        margin-left: 0;
    }

    .footer-list {
        padding-left: 265px;
        margin-bottom: -39px;
        padding-top: 0%;
        margin-left: auto;
        column-gap: 0px;
    }

    .footer-item:not(:last-child) {
        margin-right: 22px;
    }

    .logo-end {
        width: 115px;
        height: 44px;
    }

    .footer-f {
        display: none;
    }

    .social-link {

        width: 17px;
        height: 14px;
    }
}

@media(min-width: 1280px) {

    .header-logo {
        max-width: none;
        margin-left: 5px;
    }

    .btn-d {
        border-radius: 3px;
        white-space: nowrap;
        font-size: 15px;
        width: 150px;
        height: 50px;
    }

    .container {
        max-width: 1192px;
    }

    .hero-title {
        max-width: 529px;
    }

    .services-item-icon {
        margin-left: 1px;
    }

    .services-item-title {
        padding-left: 6px;
        padding-top: 2px;
    }

    .services-item-desc {
        font-size: 14px;
        margin-top: 11px;
    }

    .section-title {
        font-weight: 300;
        font-size: 36px;
        line-height: 47px;
        color: #1C1C1C;
        margin-top: 14px;
        text-align: center;
    }

    .services-descr {
        margin: 0;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #787878;
        margin-top: -15px;
        text-align: center;
    }

    /* .section-title {
        margin-top: -102px;
    } */

    .section-title-articles {
        font-weight: 300;
        font-size: 36px;
        line-height: 0px;
        color: #1C1C1C;
        text-align: justify;
        margin-top: 74px;
    }

    /* .section-title {
        margin-bottom: 22px;
    } */

    .section-title-clients {
        font-weight: 300;
        font-size: 36px;
        line-height: 47px;
        color: #1C1C1C;
        margin-top: 41px;
        text-align: justify;
    }

    .section-offset {
        padding-bottom: 177px;
    }

    .articles-item:not(:nth-child(2n)) {
        margin-right: 24px;
    }

    .services-items {
        column-gap: 42px;
        row-gap: 35px;
    }

    /* .section-title {
        margin-bottom: 20px;
    } */

    .section-title-contacts {
        font-weight: 300;
        font-size: 36px;
        line-height: 47px;
        color: #1C1C1C;
        margin-top: 19px;
        text-align: justify;
    }

    .hero-descr {
        max-width: 471px;
    }


    .form-imput {
        min-width: 251px;
        height: 60px;
    }

    .form-select {
        min-width: 251px;
        height: 60px;
    }

    .from-right {
        width: 62%;
        padding-left: 19px;
    }

    .footer-left, .footer-right {
        margin-left: auto;
        margin-bottom: -30px;
        padding-right: 513px;
    }

    .form-textarea {
        border: 1px solid #DADADA;
        border-radius: 20px;
        box-sizing: border-box;
        width: 637px;
        height: 139px;
        padding: 15px 28px 95px;
        resize: none;
    }

    .join-us-descr {
        text-align: center;
        padding-left: 0px;
        margin-bottom: 30px;
    }

    .join-us-title {
        text-align: center;
        padding-left: 0px;
    }

    .form-bottom {
        margin-left: 846px;
    }

    .logo-end {
        right: 642px;
        width: 115px;
        height: 44px;
    }

    .footer-copy {
        padding-top: 0%;
        margin-left: auto;
        padding-right: 819px;
        font-size: 12px;
    }

    .footer-list {
        padding-left: 480px;
    }

    .social-link {
        width: 18px;
        height: 14px;
    }

    .social {
        margin-bottom: -56px;
        margin-right: auto;
        padding-left: 1055px;
        padding-right: 0%;
        margin-left: 0;
    }
}

@media(min-width: 1536px) {
    .container {
        max-width: 1194px
    }

    .hero {
        padding-top: 114px;
        padding-bottom: 150px;
        margin-top: 11px;
    }

    .header-list-item:not(:last-child) {
        margin-right: 52px;
    }

    .hero-descr {
        margin-left: 10px;
    }

    .hero-title {
        margin-left: 9px;
    }

    .btn-b {
        margin-left: 10px;
        margin-top: 2px;
        width: 250px;
        height: 58px;
    }

    .btn-d {
        margin-top: -7px;
        margin-right: 4px;
        margin-left: 24px;
    }

    .form {
        padding-left: 55px;
        padding-right: 55px;
    }

    .container {
        padding: 0px 5px;
    }

    .form-textarea {
        width: 530px;
        height: 139px;
    }


    .articles-list {
        margin-top: 42px;
    }

    .section-offset {
        padding-bottom: 155px;
    }

    .blog-preview-link {
        width: 570px;
    }

    .articles-item {
        margin-left: 2px;
        margin-top: 17px;
        width: 570px;
        height: 180px;
    }

    /* .articles-item {
        margin-bottom: 30px;
    } */

    .blog-preview-text {
        padding: 23px 153px 38px 30px;
    }

    .blog-preview-title {
        font-size: 20px;
    }

    .articles-item:not(:nth-child(2n)) {
        margin-right: 31px;
    }

    .blog-preview-title {
        margin-top: -2px;
        padding-left: 1px;
        font-size: 20px;
    }

    .contacts-item {
        background-size: 24px 24px;
    }

    .contacts-item-emaill {
        margin-top: -10px;
        margin-left: -1px;
    }

    .contacts-item-call {
        margin-top: -10px;
        margin-left: 0px;
    }

    .contacts-item-address {
        margin-top: -10px;
        margin-left: 13px;
    }

    .contacts-item-caption {
        margin-bottom: 26px;
        font-weight: 600;
        font-size: 17px;
        line-height: 30px;
        color: #1C1C1C;
    }

    .contacts-list {
        margin-top: 120px;
        flex-wrap: nowrap;
    }

    .clients-title {
        padding-top: 8px;
        padding-bottom: 12px;
        padding-left: 6px;
    }

    .clients-item {
        width: 370px;
        height: 362px;
    }

    .clients-item-descr {
        margin: 18px;
        font-size: 14px;
        line-height: 28px;
        color: #787878;
    }

    .clients-name {
        margin-top: 12px;
        padding-left: 30px;
    }

    .clients-user {
        margin-top: 22px;
        align-items: center;
        border-top: 1px solid #E4E4E4;
    }

    .clients-post {
        margin-left: 31px;
        font-size: 14px;
        line-height: 20px;
        color: #787878;
    }

    .clients-avatar img {
        margin-left: 30px;
        width: 67px;
        height: 67px;
        border: 2px solid #3172B9;
        border-radius: 100%;
    }

    .blog-preview-descr {
        margin-top: 15px;
    }

    .section-title {
        padding-left: 7px;
        padding-top: 10px;
        font-weight: 300;
        font-size: 36px;
        line-height: 47px;
        color: #1C1C1C;
        margin-top: -17px;
    }

    .form-btn {
        min-width: 230px;
        height: 60px;
    }

    .form-left {
        width: 58%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 14px;
    }

    .footer {
        margin-top: -33px;
    }

    .form {
        padding-left: 55px;
        padding-right: 55px;
    }

    .footer-copy {
        padding-top: 3px;
        padding-right: 836px;
    }

    .footer-left, .footer-right {
        margin-top: -1px;
        padding-right: 529px;
    }

    .social {
        margin-top: -4px;
        padding-left: 1054px;
    }

    .social-item:not(:last-child) {
        margin-right: 27px;
    }

    .footer-list {
        gap: 12px;
        padding-top: 52px;
        padding-left: 363px;
    }
}

@media(min-width: 1920px) {}
